<p id="notice"><%= notice %></p>

<h1>Posts</h1>
<div class="posts">
 <% @posts.each do |post| %>
     <%= link_to image_tag(qiniu_image_url(post, :square), size: '300'), post, class: 'image' %>
     <br>
     <%= post.title %>
     <br>
     <%= content_tag(:span, "#{post.likes.count} likes", id: "post_#{post.id}_likes") %>
     <% if user_signed_in? %>
       <br>
       <%= link_to 'Like', post_likes_path(post), method: :post, remote: true %>
       <% if(post.creator == current_user) %>
         <br>
         <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
       <% end %>
     <% end %>
  <% end %>
</div>

<%= link_to 'New Post', new_post_path %>


